/* line 1, ../../Documents/sass-landingpage/scss/reset.scss */
body {
  font-family: arial;
  background: #f8f9fb;
}

/* line 6, ../../Documents/sass-landingpage/scss/reset.scss */
html, body, ul, ol, li, form, fieldset, legend {
  margin: 0;
  padding: 0;
}

/* line 11, ../../Documents/sass-landingpage/scss/reset.scss */
h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

/* line 15, ../../Documents/sass-landingpage/scss/reset.scss */
fieldset, img {
  border: 0;
}

/* line 19, ../../Documents/sass-landingpage/scss/reset.scss */
li {
  list-style: none;
}

/* line 23, ../../Documents/sass-landingpage/scss/reset.scss */
.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/* line 5, ../../Documents/sass-landingpage/scss/styles.scss */
#main-nav {
  background-color: #032f3e;
}

/* line 7, ../../Documents/sass-landingpage/scss/styles.scss */
#main-nav ul {
  width: 100%;
}

/* line 33, ../../Documents/sass-landingpage/scss/mixins.scss */
#main-nav ul:after {
  content: '';
  display: block;
  clear: both;
}

/* line 11, ../../Documents/sass-landingpage/scss/styles.scss */
#main-nav li {
  float: left;
  width: 16.66667%;
}

@media screen and (max-width: 600px) {
  /* line 11, ../../Documents/sass-landingpage/scss/styles.scss */
  #main-nav li {
    width: 100%;
  }
}

/* line 19, ../../Documents/sass-landingpage/scss/styles.scss */
#main-nav a {
  color: #f8f9fb;
  text-decoration: none;
  padding: 16px;
  display: block;
  text-align: center;
}

/* line 25, ../../Documents/sass-landingpage/scss/styles.scss */
#main-nav a:hover {
  background-color: #054960;
}

/* line 32, ../../Documents/sass-landingpage/scss/styles.scss */
section h1 {
  font-size: 24px;
  color: #032f3e;
}

/* line 37, ../../Documents/sass-landingpage/scss/styles.scss */
.lead-banner {
  width: 100%;
  position: relative;
  color: white;
  text-align: right;
}

/* line 9, ../../Documents/sass-landingpage/scss/mixins.scss */
.lead-banner .banner-content {
  position: absolute;
  top: 50px;
  width: 100%;
}

/* line 14, ../../Documents/sass-landingpage/scss/mixins.scss */
.lead-banner img {
  width: 100%;
}

/* line 17, ../../Documents/sass-landingpage/scss/mixins.scss */
.lead-banner span {
  font-size: 46px;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (max-width: arg) and (min-width: 1200px) {
  /* line 17, ../../Documents/sass-landingpage/scss/mixins.scss */
  .lead-banner span {
    font-size: 68px;
  }
}

/* line 26, ../../Documents/sass-landingpage/scss/mixins.scss */
.lead-banner span.title {
  font-weight: normal;
  margin-bottom: 30px;
}

/* line 42, ../../Documents/sass-landingpage/scss/styles.scss */
.lessons-banner {
  width: 100%;
  position: relative;
  color: white;
}

/* line 9, ../../Documents/sass-landingpage/scss/mixins.scss */
.lessons-banner .banner-content {
  position: absolute;
  top: 50px;
  width: 100%;
}

/* line 14, ../../Documents/sass-landingpage/scss/mixins.scss */
.lessons-banner img {
  width: 100%;
}

/* line 17, ../../Documents/sass-landingpage/scss/mixins.scss */
.lessons-banner span {
  font-size: 46px;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (max-width: arg) and (min-width: 1200px) {
  /* line 17, ../../Documents/sass-landingpage/scss/mixins.scss */
  .lessons-banner span {
    font-size: 68px;
  }
}

/* line 26, ../../Documents/sass-landingpage/scss/mixins.scss */
.lessons-banner span.title {
  font-weight: normal;
  margin-bottom: 30px;
}

/* line 44, ../../Documents/sass-landingpage/scss/styles.scss */
.lessons-banner li {
  text-transform: uppercase;
  font-size: 20px;
  max-width: 500px;
  margin: 60px 0;
}

/* line 52, ../../Documents/sass-landingpage/scss/styles.scss */
#services {
  margin-bottom: 60px;
}

/* line 54, ../../Documents/sass-landingpage/scss/styles.scss */
#services li {
  float: left;
  box-sizing: border-box;
  text-align: center;
  width: 33.33333%;
}

/* line 60, ../../Documents/sass-landingpage/scss/styles.scss */
#services img {
  width: 60%;
  margin: 20px 20%;
}

/* line 64, ../../Documents/sass-landingpage/scss/styles.scss */
#services a {
  text-decoration: none;
  color: #032f3e;
  font-weight: bold;
}

/* line 68, ../../Documents/sass-landingpage/scss/styles.scss */
#services a:hover {
  color: #3e1203;
}

/* line 33, ../../Documents/sass-landingpage/scss/mixins.scss */
#services ul:after {
  content: '';
  display: block;
  clear: both;
}

/* line 77, ../../Documents/sass-landingpage/scss/styles.scss */
#projects li {
  float: left;
  margin-right: 2%;
  margin-bottom: 2%;
  width: 23.5%;
}

/* line 45, ../../Documents/sass-landingpage/scss/mixins.scss */
#projects li:nth-child(4n) {
  margin-right: 0;
}

/* line 80, ../../Documents/sass-landingpage/scss/styles.scss */
#projects li img {
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */